




.App-link {
  color: #61dafb;
}



.card{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(42, 93, 136);
  padding:20px;
  margin: 10px;
  width: 200px;
  height: 240px;
  background-color: rgba(72, 185, 158, 0.573);
  border-radius: 10px;
}
.cont{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}